#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;
}

#headerDisplacement {
    width: 100%;
    height:60px;
    margin-bottom: 15px;
}

#gameWrapper {
    display: block;
    position: relative;
    width: 66.66%;
    min-height: 30vh;
    margin: 10px auto;
    border: 1px solid black;
}

#gameBox {
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    border: 1px solid green;
    padding: 0;
}

#gameBox div {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 40px;
}

#newGameButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
    border-top: 5px solid rgb(16, 82, 16);
    background-color: rgb(29, 29, 94);
    color: #ffffff;
}


